@charset "utf-8";
h1, h3, p, aside {
	text-align: center;
}
#main {
	width: 75%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
	
	
}
.navbar.navbar-default {
	border-width: 0px;
	border-radius: 0px;
	background-color: #FFFFFF;
	margin-top: 20px;
}

footer  {
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #3E3E3E;
	color: #FFFFFF;
	text-align: center;
}
.image-fill {
	width: 100%;
}
#wrapper {
	padding-left: 0px;
	padding-right: 0px;
}

